*x{
    margin: 0;
    padding: 0;
}

#menu{
    display: grid;
    grid-template-rows: 25vh 20vh repeat(3, 10vh) 25vh;
    background: url("../image/snake.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#menu .settings_window {
    left: 25%;
    top: 25vh;
    position: absolute;
    width: 50%;
    height: 50vh;
    background-color: #028b14;
    opacity: 0.97;
    display: none;  
    grid-template-rows: 5vh repeat(4,10vh) 5vh;
    align-items: center;
    border-radius: 26px;
    border: 4px solid rgb(57, 255, 7);
}

.settings_window .close{
    font-size: 2,5vh;
    width: 10%;
    margin-left: 90%;
    cursor: pointer;
}

.settings_window h2{
    text-align: center;
}

.settings_window .volume{
    width: 80%;
    margin: auto;
    height: 8vh;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}


.settings_window .volume img{ 
    width: 8vh;
    height: 8vh;
}
#menu h1{
    grid-row: 2;
    text-align: center;
    color: rgb(0, 4, 83);
    
}
#menu .name{
    grid-row: 3;
    width: 20%;
    margin: 2.5vh 25% ;
    height: 5vh;
}
#menu .start_game{
    grid-row: 4;
    width: 20%;
    height: 5vh;
    margin: 2.5vh 25% ;
}
#menu .settings{
    grid-row: 5;
    width: 20%;
    height: 5vh;
    margin: 2.5vh 25% ;
    
}

#menu h2{
    color: rgb(0, 61, 38);
}